 {{!-- <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">Check your emial and password</h1>
                
                <a href="/admin/adminlogin" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </body>
 --}}



<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
